<div class="home__container">
	<app-card
		gameCover="assets/jj.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 251,99"
	>
	</app-card>
	<app-card
		gameCover="assets/mc.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 150,00"
	>
	</app-card>
	<app-card
		gameCover="assets/ut-cover.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 25,00"
		>
	</app-card>
	<app-card
		gameCover="assets/fray.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 27,99"
	>
	</app-card>
	<app-card
		gameCover="assets/sm.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 200,00"
>
</app-card>
	<app-card
		gameCover="assets/dr.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4"
		gamePrice="R$ 30,00"
>
	</app-card>
</div>

